

@using PagedList;

@using PagedList.Mvc;
@model IPagedList<NCMS.Models.RequestDrugs>

@{
    ViewBag.Title = "Drugs List";
}
<style>

    .register-title {
        width: 270px;
        line-height: 43px;
        margin: 50px auto 20px;
        font-size: 19px;
        font-weight: 500;
        color: white;
        color: rgba(255, 255, 255, 0.95);
        text-align: center;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        background: #d7604b;
        border-radius: 3px;
        background-image: -webkit-linear-gradient(top, #6db244, #6db244);
        background-image: -moz-linear-gradient(top, #6db244, #6db244);
        background-image: -o-linear-gradient(top, #dc745e, #d45742);
        background-image: linear-gradient(to bottom, #dc745e, #d45742);
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    .register-titles {
        width: 220px;
        line-height: 23px;
        margin: 10px auto 10px;
        font-size: 19px;
        font-weight: 500;
        color: white;
        color: rgba(255, 255, 255, 0.95);
        text-align: center;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        background: #FFFFFF;
        border-radius: 3px;
        background-image: -webkit-linear-gradient(top, #6db244, #FF9900);
        background-image: -moz-linear-gradient(top, #6db244, #6db244);
        background-image: -o-linear-gradient(top, #dc745e, #d45742);
        background-image: linear-gradient(to bottom, #dc745e, #d45742);
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    .register {
        margin: 0 auto;
        width: 500px;
        padding: 50px;
        background: #fff;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .register-input {
        display: block;
        width: 100%;
        height: 38px;
        margin-top: 2px;
        font-weight: 500;
        background: none;
        border: 0;
        border-bottom: 1px solid #d8d8d8;
    }

        .register-input:focus {
            border-color: #1e9ce6;
            outline: 0;
        }

    .register-button {
        display: block;
        width: 100%;
        height: 42px;
        margin-top: 25px;
        font-size: 16px;
        font-weight: bold;
        color: #494d59;
        background-color: #ffcccc;
        text-align: center;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        background: #fff;
        border: 1px solid;
        border-color: #d8d8d8 #d1d1d1 #c3c3c3;
        border-radius: 2px;
        cursor: pointer;
        background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
        background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
        background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
        background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
        -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
        box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
    }

        .register-button:active {
            background: #eee;
            border-color: #c3c3c3 #d1d1d1 #d8d8d8;
            background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
            background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
            background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
            background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
            -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
        }

        .register-button:focus {
            outline: 0;
        }

    .register-switch {
        height: 32px;
        margin-bottom: 15px;
        padding: 4px;
        background: #6db244;
        border-radius: 2px;
        background-image: -webkit-linear-gradient(top, #60a83a, #7dbe52);
        background-image: -moz-linear-gradient(top, #60a83a, #7dbe52);
        background-image: -o-linear-gradient(top, #60a83a, #7dbe52);
        background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
        -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
    }

    .register-switch-input {
        display: none;
    }

    .register-switch-label {
        float: left;
        width: 50%;
        line-height: 32px;
        color: white;
        text-align: center;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .register-switch-input:checked + .register-switch-label {
        font-weight: 500;
        color: #434248;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        background: white;
        border-radius: 2px;
        background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
        background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
        background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
        background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    .contact {
        position: relative;
        margin: 50px auto;
        padding: 5px;
        width: 420px;
        background: #eef5f7;
        border: 1px solid #cfd5da;
        border-bottom-color: #ccd1d6;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .contact-inner {
        padding: 25px;
        background: white;
        border-radius: 2px;
    }

        .contact:before, .contact:after, .contact-inner:before, .contact-inner:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -6px;
            width: 1px;
            height: 1px;
            border: outset transparent;
            border-width: 12px 14px 0;
            border-top-style: solid;
            -webkit-transform: rotate(360deg);
        }

    .contact:before {
        margin-top: 1px;
        border-top-color: #d8e1e6;
    }

    .contact-inner:before {
        border-top-color: #ccd1d6;
    }

    .contact-inner:after {
        margin-top: -1px;
        border-top-color: #eef5f7;
    }

    .contact:after {
        margin-top: -8px;
        border-top-color: white;
    }

    .contact-input {
        overflow: hidden;
        margin-bottom: 20px;
        padding: 5px;
        background: #fff;
        border-radius: 2px;
    }

        .contact-input > input, .contact-input > textarea {
            display: block;
            width: 100%;
            height: 29px;
            padding: 0 9px;
            color: #4d5a5e;
            background: white;
            border: 1px solid #cfdfe3;
            border-bottom-color: #d2e2e7;
            border-radius: 2px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.2);
        }

            .contact-input > input:focus, .contact-input > textarea:focus {
                border-color: #93c2ec;
                outline: 0;
                -webkit-box-shadow: 0 0 0 8px #e1ecf5;
                box-shadow: 0 0 0 8px #e1ecf5;
            }

    .lt-ie9 .contact-input > input, .lt-ie9 .contact-input > textarea {
        line-height: 27px;
    }

    .contact-input > textarea {
        padding: 4px 8px;
        height: 80px;
        line-height: 20px;
        resize: none;
        overflow: scroll;
    }

    .select {
        display: block;
        position: relative;
        overflow: hidden;
        background: white;
        border: 1px solid #d2e2e7;
        border-bottom-color: #c5d4d9;
        border-radius: 2px;
        background-image: -webkit-linear-gradient(top, #fcfdff, #f2f7f7);
        background-image: -moz-linear-gradient(top, #fcfdff, #f2f7f7);
        background-image: -o-linear-gradient(top, #fcfdff, #f2f7f7);
        background-image: linear-gradient(to bottom, #fcfdff, #f2f7f7);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    }

        .select:before, .select:after {
            content: '';
            position: absolute;
            right: 11px;
            width: 0;
            height: 0;
            border-left: 3px outset transparent;
            border-right: 3px outset transparent;
        }

        .select:before {
            top: 10px;
            border-bottom: 3px solid #7f9298;
        }

        .select:after {
            top: 16px;
            border-top: 3px solid #7f9298;
        }

        .select > select {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 29px;
            line-height: 17px;
            padding: 5px 9px;
            padding-right: 0;
            color: #80989f;
            background: transparent;
            background: rgba(0, 0, 0, 0);
            border: 0;
            -webkit-appearance: none;
        }

            .select > select:focus {
                color: #4d5a5e;
                outline: 0;
            }





    .contact-submit {
        text-align: right;
    }

        .contact-submit > input {
            display: inline-block;
            vertical-align: top;
            padding: 0 14px;
            height: 29px;
            font-weight: bold;
            color: #729fb2;
            text-shadow: 0 1px rgba(255, 255, 255, 0.5);
            background: #deeef4;
            border: 1px solid #bed6e3;
            border-bottom-color: #accbd9;
            border-radius: 15px;
            cursor: pointer;
            background-image: -webkit-linear-gradient(top, #e6f2f7, #d0e6ee);
            background-image: -moz-linear-gradient(top, #e6f2f7, #d0e6ee);
            background-image: -o-linear-gradient(top, #e6f2f7, #d0e6ee);
            background-image: linear-gradient(to bottom, #e6f2f7, #d0e6ee);
            -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
            box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 0 4px #eef7f9;
        }

            .contact-submit > input:active {
                color: #6a95a9;
                text-shadow: 0 1px rgba(255, 255, 255, 0.3);
                background: #c9dfe9;
                border-color: #a3bed0 #b5ccda #b5ccda;
                -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.2), 0 0 0 4px #eef7f9;
            }

    .image-hover-zoom img {
        transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        -o-transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        -ms-transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        -moz-transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        -webkit-transition: all 0.50s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }

    .owl-item .image-testimonial-small {
        margin: 0 auto 20px;
        width: auto;
    }



    .icon {
        padding: 10px;
        background: dodgerblue;
        color: white;
        min-width: 30px;
        text-align: center;
    }

    .icons {
        padding: 10px;
        background: grey;
        color: white;
        min-width: 30px;
        text-align: center;
    }

    .input-container {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }

    .input-containers {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }

    .input-containerss {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }

    table {
        border-collapse: collapse;
        margin-bottom: 3em;
        width: 100%;
        background: #fff;
    }

    td, th {
        padding: 0.15em 0.20em;
        text-align: center;
    }

        td.err {
            background-color: #e992b9;
            color: #fff;
            font-size: 3.00em;
            text-align: center;
            line-height: 1;
        }

    th {
        background-color: #31bc86;
        font-weight: bold;
        color: #fff;
        white-space: nowrap;
    }

    tbody th {
        background-color: #2ea879;
    }

    tbody tr:nth-child(2n-1) {
        background-color: #f5f5f5;
        transition: all .125s ease-in-out;
    }

    tbody tr:hover {
        background-color: rgba(129,208,177,.3);
    }

    /* For appearance */
    .sticky-wrap {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        margin: 3em 0;
        width: 100%;
    }

        .sticky-wrap .sticky-thead,
        .sticky-wrap .sticky-col,
        .sticky-wrap .sticky-intersect {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .125s ease-in-out;
            z-index: 50;
            width: auto; /* Prevent table from stretching to full size */
        }

        .sticky-wrap .sticky-thead {
            box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
            z-index: 100;
            width: 100%; /* Force stretch */
        }

        .sticky-wrap .sticky-intersect {
            opacity: 1;
            z-index: 150;
        }

            .sticky-wrap .sticky-intersect th {
                background-color: #666;
                color: #eee;
            }

        .sticky-wrap td,
        .sticky-wrap th {
            box-sizing: border-box;
        }

    /* Not needed for sticky header/column functionality */
    td.user-name {
        text-transform: capitalize;
    }

    .sticky-wrap.overflow-y {
        overflow-y: auto;
        max-height: 50vh;
    }
    /* Style the form */
    #regForm {
        background-color: #ffffff;
        margin: 100px auto;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    /* Style the input fields */
    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    .input-check {
        width: 60%;
        padding: 4px;
        outline: none;
    }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        /* Mark the active step: */
        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #4CAF50;
        }
</style>
<div id="app">
    <div class="sidebar app-aside" id="sidebar">
        <div class="sidebar-container perfect-scrollbar">

            <nav>

                <!-- start: MAIN NAVIGATION MENU -->
                <div class="navbar-title">
                    <span>Main Navigation</span>
                </div>
                <ul class="main-navigation-menu">

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="~/Dashboard">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-university"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Dashboard </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Users">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-users" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Registered Users </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Patients">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-bed" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Patients </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Appointments">

                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-hospital-o" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Appointments </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Prescriptions">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-medkit" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Drug Prescription </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>

                                <a href="~/Schedules">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Doctor's Schedule </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>

                                <a href="~/Timesheet">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Employees Timesheet </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }


                        else if (User.IsInRole("Front Desk"))
                        {
                            <li>
                                <a href="~/Dashboard">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-university"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Dashboard </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Patients">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-bed" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Patients </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Appointments">

                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-hospital-o" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Appointments </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>

                                <a href="~/Timesheet">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Employees Timesheet </span>
                                        </div>
                                    </div>
                                </a>
                            </li>


                        }

                        else if (User.IsInRole("Nurse"))
                        {
                            <li>
                                <a href="~/Dashboard">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-university"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Dashboard </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="~/Appointments">

                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-hospital-o" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Appointments </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/RequestDrugs">

                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-bed" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Order Drugs </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Patients">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-bed" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Patients </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Prescriptions">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-medkit" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Drug Prescription </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>

                                <a href="~/Schedules">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Doctor's Schedule </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>

                                <a href="~/Timesheet">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Employees Timesheet </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }

                        else if (User.IsInRole("Doctor"))
                        {
                            <li>
                                <a href="~/Dashboard">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-university"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Dashboard </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="~/Appointments">

                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-hospital-o" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Appointments </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/History">

                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-bed" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Patients History </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Prescriptions">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-medkit" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Drug Prescription </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>

                                <a href="~/Schedules">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Doctor's Schedule </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>

                                <a href="~/Timesheet">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Employees Timesheet </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }

                        else if (User.IsInRole("Pharmacist"))
                        {
                            <li>
                                <a href="~/Dashboard">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-university"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Dashboard </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="~/Appointments">

                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-hospital-o" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Appointments </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Prescription">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-medkit" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Drug Prescription </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>

                                <a href="~/Schedules">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Doctor's Schedule </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>

                                <a href="~/Timesheet">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Employees Timesheet </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }

                        else if (User.IsInRole("Patient"))
                        {
                            <li>
                                <a href="~/Dashboard">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-university"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Dashboard </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="~/Appointments">

                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-hospital-o" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Appointments </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Prescriptions">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-medkit" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Drug Prescription </span>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>

                                <a href="~/Schedules">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="fa fa-calendar" icon></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Doctor's Schedule </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }

                        else
                        {


                            <li>Access Denied</li>

                        }
                    }


                </ul>
                <!-- end: CORE FEATURES -->

            </nav>
        </div>
    </div>



    <div class="app-content">
        <!--start-wrap-->
        <header class="navbar navbar-default navbar-static-top">
            <!-- start: NAVBAR HEADER -->
            <div class="navbar-header">
                <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                    <i class="ti-align-justify"></i>
                </a>
                <a class="navbar-brand" href="#">
                    <h2 style="padding-top:2% ">  <img src="~/Content/images/logo.png" /></h2>
                </a>
                <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                    <i class="ti-align-justify"></i>
                </a>
                <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="ti-view-grid"></i>
                </a>
            </div>
            <!-- end: NAVBAR HEADER -->
            <!-- start: NAVBAR COLLAPSE -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-right">
                    <!-- start: MESSAGES DROPDOWN -->
                    <li style="padding-top:2% ">
                        <h2>Novo Clinic Management System</h2>
                    </li>
                    <li class="dropdown current-user">
                        <a href class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Content/assets/images/default-user.png" alt="user avatar"> <span class="username">

                                @using Microsoft.AspNet.Identity
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fa fa-sign-out" style="font-size:20px;"></i>Log Out</a></li>
                                        </ul>
                                    }

                                }
                                else
                                {


                                }



                            </span>
                        </a>

                    </li>

                    <!-- end: USER OPTIONS DROPDOWN -->
                </ul>
                <!-- end: USER OPTIONS DROPDOWN -->
                </ul>
                <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
                <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                    <div class="arrow-left"></div>
                    <div class="arrow-right"></div>
                </div>
                <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
            </div>


            <!-- end: NAVBAR COLLAPSE -->
        </header>
        <div class="main-content">
            <div class="wrap-content container" id="container">
                <!-- start: PAGE TITLE -->
                <section id="page-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="mainTitle">Drugs Request List</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li>
                                @Html.ActionLink("WELCOME  " + User.Identity.GetUserName() + " !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })





                            </li>
                        </ol>
                    </div>
                </section>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="container-fluid container-fullw bg-white">
                        <div class="row">
                            <div class="col-md-12">


                                <div class="table-responsive">


                                    @if (User.IsInRole("Patient") || User.IsInRole("Pharmacist") || User.IsInRole("Nurse"))
                                    {

                                        <table class="table table-bordered">

                                            <div class="col-md-6">
                                                <button type="submit" class='btn btn-primary'><i class="fa fa-plus fa-lg"><a href="~/RequestDrugs/Create"><font color="white"> Order Drugs</font></a></i></button>
                                            </div>

                                            <div class="col-md-3"></div>

                                            <div class="col-md-6">


                                                <form action="/Appointments" method="get">
                                                    &nbsp;&nbsp;&nbsp;Search Appointments List
                                                    <div class="form-group">
                                                        <div class=" col-md-6">

                                                            <input id="search" name="search" type="text" value="" placeholder="Generic Name " required /><br />

                                                        </div>
                                                    </div><br />
                                                  
                                                    <div class="form-group">
                                                        <div class=" col-md-2">
                                                            <input type="submit" class="btn btn-primary" value="Search" />
                                                        </div>
                                                    </div><br /><br />


                                                </form>




                                            </div>
                                            <br />
                                            <br />

                                            <thead class="table-heading">
                                                <tr>

                                                    <td>
                                                        <b>
                                                            <font size="4">
                                                                @Html.DisplayNameFor(model => model.First().RequestID)
                                                            </font>
                                                        </b>
                                                    </td>


                                                    <td>
                                                        <b>
                                                            <font size="4">
                                                                @Html.DisplayNameFor(model => model.First().BrandName)
                                                            </font>
                                                        </b>
                                                    </td>


                                                    <td>
                                                        <b>
                                                            <font size="4">
                                                                @Html.DisplayNameFor(model => model.First().GenericName)
                                                            </font>
                                                        </b>
                                                    </td>

                                                    <td>
                                                        <b>
                                                            <font size="4">
                                                                @Html.DisplayNameFor(model => model.First().Quantity)
                                                            </font>
                                                        </b>
                                                    </td>


                                                    <td>
                                                        <b>
                                                            <font size="4">
                                                                @Html.DisplayNameFor(model => model.First().Description)
                                                            </font>
                                                        </b>
                                                    </td>


                                                    <td>
                                                        <b>
                                                            <font size="4">
                                                                @Html.DisplayNameFor(model => model.First().RequestBy)
                                                            </font>
                                                        </b>
                                                    </td>


                                                    <td>
                                                        <b>
                                                            <font size="4">
                                                                @Html.DisplayNameFor(model => model.First().ReviewedBy)
                                                            </font>
                                                        </b>
                                                    </td>


                                                    <td>
                                                        <b>
                                                            <font size="4">
                                                                @Html.DisplayNameFor(model => model.First().Comment)
                                                            </font>
                                                        </b>
                                                    </td>


                                                    <td>
                                                        <b>
                                                            <font size="4">
                                                                @Html.DisplayNameFor(model => model.First().RequestDate)
                                                            </font>
                                                        </b>
                                                    </td>
                                                    <td>
                                                        <b>
                                                            <font size="4">Actions </font>
                                                        </b>
                                                    </td>
                                                </tr>
                                            </thead>
                                            @if (Model.Count() == 0)
                                            {
                                                <tr>
                                                    <td colspan="12"> Records not found </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var item in Model)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RequestID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BrandName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.GenericName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Quantity)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RequestBy)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ReviewedBy)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Comment)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RequestDate)
                                                    </td>
                                                    <td>

                                                        <a href="~/RequestDrugs/Edit/@item.RequestID"><i class="fa fa-edit" style="font-size:28px;color:dodgerblue"></i></a> 
                                                       
                                                </tr>
                                                }
                                            }

                                        </table>
                                        @Html.PagedListPager(Model,pageNumber => Url.Action("Index",new{
                                                          pageNumber
                                                          }))
                                    }
                                   
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <h2>Access Denied!</h2>


                }



            </div>
        </div>
    </div>


